@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
    width: 99vw;
    background: #D2D3CE;
    padding: 5% 0 5% 5%;
}
h2 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}
h1 {
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
}
p {
    font-family: "Aboreto", system-ui;
    font-size: 1.1em;
    font-weight: 400;    
    font-style: normal;
}
main {
    width: 100%;
    height: 50vh;
    background: white;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 20px;
}
.content__item {
    width: 100%;
    padding: 3vh;
}
.main__content, footer {
    display: flex;
    justify-content: space-evenly;
}
footer {
    display: flex;
    flex-wrap: wrap;
}
.footer__item {
    width: 20%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #545452;
    border-radius: 30em;
}
.main__img {
    display: flex;
    justify-content: center;
}
.img_m {
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 20px;
}
.img__ {
    width: 3.5vw;
}




